body {
  background-color: #CCF2F4;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.05em;
}

hr {
  margin: 100px auto;
  width: 8%;
  border: dotted #EAF6F6 6px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

h1 {
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Cinzel', serif;
  color: #3282B8;
  line-height: 2;
}

h2 {
  font-family: 'Eczar', serif;
  color: #3282B8;
  font-weight: normal;
}

h3 {
  font-family: 'Eczar', serif;
  color: #3282B8;
}

.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle {
  padding-bottom: 50px;
}

.bottom {
  background-color: #66BFBF;
  padding: 20px 0;
}

.bottom-h2 {
  font-size: 3rem;
  padding-bottom: 30px;
}

.footer-link {
  padding: 0 15px 0 15px;
  font-family: 'Eczar', serif;
  color: #3282B8;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-link:hover {
  color: #EAF6F6;
}

.footer-prgrph {
  position: relative;
  top: 40px;
  color: #EAF6F6;
  font-size: .75rem;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.mountain {
  position: relative;
  right: 60px;
}

.top-cloud {
  position: relative;
  left: 300px;
  bottom: 50px;
}

.bottom-cloud {
  position: relative;
  right: 100px;
  bottom: 300px;
}

.profile-img {
  padding-top: 50px;
  padding-bottom: 20px;
  width: 10%;
}

.computer-img {
  width: 20%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.computer-img:hover {
  opacity: .9;
}

.art-img {
  width: 20%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.art-img:hover {
  opacity: .9;
}

.h2-alt {
  font-size: 2.2rem;
}
/*
.btn {
  position: relative;
  bottom: 20px;
  color: #3282B8;
  background-color: #E4F9F5;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: solid 1px;
}

.btn:hover {
  text-decoration: underline;
  background-color: white;

}
*/

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 0 0 0 #666666;
  font-family: 'Eczar', serif;
  color: #ffffff;
  font-size: 20px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #54bbff;
  background-image: -webkit-linear-gradient(top, #54bbff, #8cd1ff);
  background-image: -moz-linear-gradient(top, #54bbff, #8cd1ff);
  background-image: -ms-linear-gradient(top, #54bbff, #8cd1ff);
  background-image: -o-linear-gradient(top, #54bbff, #8cd1ff);
  background-image: linear-gradient(to bottom, #54bbff, #8cd1ff);
  text-decoration: none;
}


.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
/*
.design-development-desc {
  clear: left;
}

.graphic-design-desc {
  clear: right;
}
*/
